<h2><%= (User.find(session[:user_id]).name)%>'s Favorite Bars</h2>


<% User.find(session[:user_id]).favoritebars.each do |bar| %>
 <% link_to "New", url:bar.id %>"</br>
 <% end %>


 <%= gmaps4rails(@json) %>