<h2>This is where I'll show a Bar and have the ability to Save it</h2>

<h2><%= @bar.name %></h2>

<img src=" <%= @bar.img_url %>">
<%= @bar.display_address %>
<%= link_to"Go to Yelp", url:@bar.url %>


