/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
    background: url('Owl-Bar-5.jpg');
    background-size: 100%;
    padding-top: 100px;
    width: 750px;
    font-family: Arial, Vernanda, san-serif;
    color: #665544;
    margin-top: 100px;
}

.arlo {

    vertical-align: center:
}



p {
    width: 230px;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;
}

h1,
.clear {
    clear: left;
    width: 230px;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;
}



