<div class="row">
  <form action="/neighborhoods" type="get">
    <% @neighborhoods.each do |neighborhood| %>
      <div class="span2">
        <a href="neighborhood/<%=neighborhood.id %>"><%=neighborhood.name %></a>
      </div>
    <%end %>
    </form>
</div>



