
  <div class="five">
    <form action="/neighborhoods" type="get">
      <% @neighborhoods.each do |neighborhood| %>
        <div= "row-fluid">
          <p class ="clear">
            <a href="neighborhood/<%=neighborhood.id %>"><%=neighborhood.name %></a>
          </p>
        </div>
      <%end %>
      </form>
  </div>



