
  <h2><%= @bar['name']%></h2>

  <br/>
  <br/>
  <img src="<%= @bar['image_url'] %>"><br/>
  <img src="<%= @bar['rating_img_url_small'] %>">
  <br/>
  <br/>
  <%= button_to("Save Bar to Favorites", save_bar_path)%>


